<p id="notice"><%= notice %></p>

<h1>Samples</h1>


<%= bootstrap_form_tag url: samples_path do |f| %>
  <%= f.select :ddc, options_for_select(@ddcs, @active_ddc) %>
<% end %>

<ul class='nav nav-pills nav-fill justify-content-center'>
  <li class='nav-item'><%= link_to 'ALL', samples_path,  { class: nav_class('ALL') } %></li>
<% @ddcs.each do |ddc| %>
  <li class='nav-item'><%= link_to ddc.name, samples_path(ddc: ddc.name), { class: nav_class(ddc) }  %></li>
<% end %>    
</ul>

<table class='table'>
  <thead>
    <tr>
      <th>Source</th>
      <th>DDC</th>
      <th>Sequence</th>
      <th>Data</th>
      <th>created</th>
    </tr>
    <tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to sample.uuid, samples_path(source: sample.uuid)  %></td>
        <td><%= link_to sample.ddc || '', samples_path(ddc: sample.ddc)  %></td>
        <td><%= link_to sample.sequence || '', samples_path(sequence: sample.sequence, source: sample.uuid)  %></td>
        <td><%= sample.data %></td>
	<td><%= sample.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @devices %>
