<p id="notice"><%= notice %></p>

<h1>Samples</h1>

<%= bootstrap_form_tag url: samples_path do |f| %>
  <%= f.select :ddc, options_for_select(@ddcs.map { |ddc| ddc.name }, @active_ddc), {}, { class: 'form-control', onchange: 'this.form.submit()' } %>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <th>Source</th>
      <th>DDC</th>
      <th>Sequence</th>
      <th>Data</th>
      <th>created</th>
    </tr>
    <tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to sample.uuid, samples_path(source: sample.uuid)  %></td>
        <td><%= link_to sample.ddc || '', samples_path(ddc: sample.ddc)  %></td>
        <td><%= link_to sample.sequence || '', samples_path(sequence: sample.sequence, source: sample.uuid)  %></td>
        <td><%= sample.data %></td>
	<td><%= sample.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @devices %>
