<p id="notice"><%= notice %></p>

<h1>Samples</h1>

<ul class='nav'>
  <li class='nav-item'><%= link_to 'ALL', { controller: 'samples', action: 'index' },  { class: nav_class('ALL') } %></li>
<% @topics.sort.each do |topic| %>
  <li class='nav-item'><%= link_to topic, { controller: 'samples', action: 'index', topic: topic }, { class: nav_class(topic) }  %></li>
<% end %>    
</ul>

<table class='table'>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Topic</th>
      <th>Data</th>
      <th>created</th>
    </tr>
    <tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to sample.uuid, controller: 'samples', action: 'index', uuid: sample.uuid  %></td>
        <td><%= link_to sample.topic, controller: 'samples', action: 'index', topic: sample.topic  %></td>
        <td><%= sample.data %></td>
	<td><%= sample.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @devices %>
