<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @sample.uuid %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @sample.topic %>
</p>

<p>
  <strong>Data:</strong>
  <%= @sample.data %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
