<h2>Rooms</h2>
<table class='table'>
  <tr>
    <th>Room</th>
    <th>Max temp</th>
    <th>Min temp</th>
    <th>Samples</th>
  </tr>
<% @furballs.each do |furball| %>
  <tr>
    <td><%= furball[:name] %></td>
    <td><%= furball[:max_temp] %></td>
    <td><%= furball[:min_temp] %></td>
    <td><%= '%0.1f' % ((furball[:samples]*100.0)  / @minutes_in_interval) %> % (<%= furball[:samples] %> / <%= @minutes_in_interval %>)
  </tr>
<% end %>
</table>

<h2>Weather</h2>
<table class='table'>
  <tr>
    <th>Station</th>
    <th>Max temp</th>
    <th>Min temp</th>
    <th>Max humidity</th>
    <th>Min humidity</th>
  </tr>
<% @weather_stations.each do |station| %>
  <tr>
    <td><%= station[:name] %></td>
    <td><%= station[:max_temp] %></td>
    <td><%= station[:min_temp] %></td>
    <td><%= station[:max_humidity] %></td>
    <td><%= station[:min_humidity] %></td>
  </tr>
<% end %>
</table>

<h2>Access</h2>
<table class='table'>
  <tr>
    <th>Door</th>
    <th>Opened</th>
    <th>Unlocked</th>
    <th>Locked</th>
    <th>Denied</th>
  </tr>
<% @doors.each do |door| %>
  <tr>
    <td><%= door[:name] %></td>
    <td><%= door[:opened] %></td>
    <td><%= door[:unlocked] %></td>
    <td><%= door[:locked] %></td>
    <td><%= door[:denied] %></td>
  </tr>
<% end %>
</table>

<h2>Network</h2>
Maximum active hosts <%= @network_active_hosts_max %>

<h2>Laser Printer</h2>
<table class='table'>
  <tr>
    <th>Printer</th>
    <th>Pages</th>
    <th>Errors</th>
  </tr>
</table>

<h2>3D Printers</h2>
<table class='table'>
</table>

