<p id="notice"><%= notice %></p>

<h1>Ddcs</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ddcs.each do |ddc| %>
      <tr>
        <td><%= ddc.string %></td>
        <td><%= link_to 'Show', ddc %></td>
        <td><%= link_to 'Edit', edit_ddc_path(ddc) %></td>
        <td><%= link_to 'Destroy', ddc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ddc', new_ddc_path %>
